body {
    background-image: 
        linear-gradient(
            to right, #bf5700, #f8e3c5
        );
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width : 15vw;
    height: 100vh;
    background: #222222;
    font-size: 2vw;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.slider{
    position: relative;
    width: 85vw;
    height: 60vh;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 40%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
.next, .prev{
    top: 40%;
    color: black;
    background-color: transparent;
    border: none;
    font-size: medium;
    font-family: monospace;
    font-weight: bold;
    margin: auto;
}
.prev{
    top: 5px;
}
.next{
    top: 5px;
}

.container{
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15vw;
}

.bio{
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    bottom: 0;
    font-size: 2vw;
}

img{
    width: 25vw;
    height: auto;
}